<!-- Menu with dropdown + Button -->
<header class="navbar navbar-expand-lg bg-dark navbar-dark shadow-sm">
  <div class="container">
    <%= link_to "Masyvs", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDarkCollapse" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <nav id="navbarDarkCollapse" class="collapse navbar-collapse">
      <hr class="d-lg-none text-light opacity-15 mt-3 mb-2">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a href="#" class="nav-link active">Home</a>
        </li>
        <li class="nav-item">
          <%= link_to "About", home_about_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Services</a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li>
              <a href="#" class="dropdown-item">Staffing</a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="true">Aptitude Tests</a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="#">NCLEX</a></li>
                <li><a class="dropdown-item" href="#">GRE/GMAT</a></li>
                <li><a class="dropdown-item" href="#">ACT/SAT</a></li>
                <li><a class="dropdown-item" href="#">IELTS/TOEFL </a></li>
              </ul>
            </li>
            <li><a class="dropdown-item" href="#">Home Work</a></li>
            <li><a class="dropdown-item" href="#">Travel & Tour</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">Scholarship</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">Partnership</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">Contact</a>
        </li>
      </ul>
      <a href="#" class="btn btn-primary btn-sm fs-sm rounded my-3 my-lg-0">
        <i class="bx bx-user fs-lg me-2"></i>
        Sign up
      </a>
    </nav>
  </div>
</header>


